version: '3.8'

services:
  pokemon-app:
    build: .
    container_name: pokemon-search-app
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app.py
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_ENV=development
    volumes:
      - .:/app
    restart: unless-stopped
